@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #EAEAEA;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: var(--gray);
  font-family: var(--font-helvetica);
  font-weight: 500;
}

.portable-text a {
  @apply underline hover:no-underline;
}

.list-counter {
  @apply my-2 ps-6;
  counter-reset: numbered-list-counter;
}

.list-counter>li {
  @apply mb-2 ps-2;
  counter-increment: numbered-list-counter;

  &::before {
    @apply -ms-8;
    content: counters(numbered-list-counter, ".") ". ";
  }
}

.list-counter>li>.list-counter {
  @apply ps-2;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-truncate {
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-image-wrap > img {
  border-radius: 5px;
}
.grow { transition: all .2s ease-out; }
.grow:hover { transform: scale(1.05); }

.header__pseudo-element--bottom {
  --r: 10px;
  /* the radius */
  --s: 20px;
  /* the size of the corner*/
  position: absolute;
  width: 40px;
  bottom: 0;
  left: -10px;
  margin-bottom: -30px;
  aspect-ratio: 1;
  background: #e9e9e9;
  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%) no-repeat;
  mask:
    right 0 bottom calc(var(--s) + var(--r)) var(--_m),
    right calc(var(--s) + var(--r)) bottom 0 var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 101%) calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
      #0000 25%, #000 0);
}

.header__pseudo-element--top {
  --r: 10px;
  /* the radius */
  --s: 20px;
  /* the size of the corner*/
  position: absolute;
  width: 40px;
  top: -10px;
  right: -30px;
  margin-bottom: -30px;
  aspect-ratio: 1;
  background: #e9e9e9;
  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%) no-repeat;
  mask:
    right 0 bottom calc(var(--s) + var(--r)) var(--_m),
    right calc(var(--s) + var(--r)) bottom 0 var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 101%) calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
      #0000 25%, #000 0);
}

.hero-text-1 {
  font-size: 40px;
}

.hero-text-2 {
  font-size: 46px;
}

.PageTitle {
  font-size: 32px;
  font-family: var(--font-unbounded);
}