@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #EAEAEA;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: var(--gray);
  font-family: var(--font-helvetica);
  font-weight: 500;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*h2 {
  font-size: 24px; /*text 2xl
}*/

h1 {
  font-size: 32px;
}

.hero-text-1 {
  font-size: 40px;
}
.hero-text-2 {
  font-size: 46px;
}

.PageTitle {
  font-size: 32px;
  font-family: var(--font-unbounded);
}
